<div>
Hello, I'm a web app written in Node.js embedded in your Salesforce page.
I'm aware of my environment. For example, I know who you are (<%= user.fullName %>), the object this page is showing (<%= environment.record.attributes.type %>), and its Id (environment.record.attributes.Id).
With that information I can run contextual queries and show useful information.
So it's easy for you to integrate external apps in you Salesforce environement.
</div>
