.canvas-app {
    padding: 8px 0;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
}

table, th, td {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
}

td {
    padding: 8px;
}